@page "/about"

<Card>
    <CardHeader>
        About
    </CardHeader>
    <CardBody>
        <Paragraph>
            This <strong>application</strong> is powered by <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.1">client-side Blazor</a>.
        </Paragraph>
        <Paragraph>
            The <strong>frontend</strong> is powered by <a href="https://github.com/stsrki/Blazorise">Blazorise</a> along with its Bootstrap component.
        </Paragraph>
        <Paragraph>
            The <strong>files</strong> are hosted on <a href="https://github.com/Still34/RaffleBlazor">GitHub</a>.
        </Paragraph>
        <Paragraph>
            This was my first relatively-large scale Blazor-based application. It was a lot of fun and excruciating to work with Blazor, mainly due to its completely different syntax from regular C#. I'm still not happy with how messy some parts of the code are - especially the GroupPicker code. The underlying codebase could be tidied up a bit, but it's whatever. I spent about 24 hours on this, so I consider it good enough 😛.
        </Paragraph>
        <Text Color="TextColor.Secondary">
            - Still Hsu (business [at] stillu.cc)
        </Text>
    </CardBody>
</Card>